@font-face {
  font-family: "Raleway1", sans-serif;
  src: url("fonts/Raleway-Bold,Raleway-Regular/Raleway-Regular.otf")
    format("opentype");
}

@font-face {
  font-family: "Raleway2";
  src: url("fonts/Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("fonts/Raleway/static/Raleway-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Sofia-Regular";
  src: url("fonts/MyFonts Order M12208999/MyFonts Order M12208999/Mostardesign - Sofia Pro Regular.otf")
    format("opentype");
}

@font-face {
  font-family: "Sofia-Bold";
  src: url("fonts/MyFonts Order M12208999/MyFonts Order M12208999/Mostardesign - Sofia Pro Bold.otf")
    format("opentype");
}

@font-face {
  font-family: "BrandonGrotesque-Regular";
  src: url("fonts/MyFonts Order M12208999/MyFonts Order M12208999/HVD Fonts - BrandonGrotesque-Regular.otf")
    format("opentype");
}

@font-face {
  font-family: "Raleway-ExtraBold";
  src: url("fonts/Raleway/static/Raleway-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Palmer-Lake";
  src: url("fonts/MyFonts Order M12208999/MyFonts Order M12208999/Jen Wagner Co. - Palmer Lake Print Regular.otf")
    format("opentype");
}

@font-face {
  font-family: "Inter-Regular";
  src: url("fonts\Inter_18pt-Regular.ttf") format("truetype");
}

* {
  align-items: center;
}

input::placeholder {
  font-family: "BrandonGrotesque-Regular";
  font-weight: 400;
  color: #aaafb2;
  padding-left: 0.5rem;
}

select {
  font-family: "BrandonGrotesque-Regular";
  font-weight: 400;
  color: #aaafb2;
  padding-left: 0.5rem;
}

textarea{
    resize: none;
}
input:focus{
    border: 2px solid #ccc;
}

textarea::placeholder{
    font-family: "BrandonGrotesque-Regular";
  font-weight: 400;
  color: #aaafb2;
  padding-left: 0.5rem;
}
.input1 {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  width: 10rem;
  height: 2rem;
}

.input2 {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  width: 21rem;
  height: 2rem;
}

textarea {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  width: 50rem;
  height: 8rem;
}

.headers {
  font-family: "BrandonGrotesque-Regular";
  font-weight: 400;
  font-size: 1.8rem;
  color: #15364c;
  text-align: center;
  padding: 0 3rem 0 3rem;
}

.paras {
  font-family: "Sofia-Regular";
  color: #2f6079;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}

.paras2 {
  font-family: "Sofia-Regular";
  color: #2f6079;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

.button-text {
  font-family: "Sofia-Bold";
  font-weight: 800;
  font-size: 1.3rem;
  color: #15364c;
}

.heading-line {
  border: 1px solid #9797973b;
  width: 23%;
  height: 0px;
}

/* ------------------header---------------------------- */
.header-container {
  display: flex;
  background-color: #1d344a;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.header-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header-img {
  width: 13rem;
  height: 1.5rem;
}
.burger {
  width: 23px;
  height: 2px;
  background-color: black;
  margin: 6px 0;
}
.burger-container {
  flex: 0.25;
  display: flex;
  justify-content: flex-end;
}

.header-lesson {
  text-decoration: underline;
  color: white;
  cursor: pointer;
  font-family: "BrandonGrotesque-Regular";
  font-weight: 400;
  font-size: 1rem;
  flex: 0.25;
}

.header-img {
  width: 12rem;
  height: 2rem;
}
/* --------------------------luggage------------------------------ */
.luggage {
  font-family: "Raleway2";
  font-weight: 600;
  background-color: #1d344a;
}

.luggage-container1 {
  display: flex;
  justify-content: center;
}

.luggage-letter {
  font-size: 6rem;
}

.luggage-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.luggage-footer-image1 {
  width: 3.3rem;
  height: 3rem;
  padding-top: 7rem;
}

.luggage-footer-image2 {
  width: 12rem;
  height: 4.5rem;
  padding-bottom: 1rem;
}

.color-bar {
  width: 9rem;
  height: 0.7rem;
}

.color-bar-container {
  display: flex;
}

/* ----------------------------------franchise---------------------------------------- */
.franchise-container {
  text-align: center;
  margin-top: 4rem;
}

.franchise-img {
  margin-top: 4rem;
}

.franchise-container2 {
  margin-top: 3rem;
}

.franchise-button {
  background-color: #e8d0cd;
  width: 30rem;
  height: 3rem;
  border-radius: 10px;
  border-style: hidden;
  margin-top: 3rem;
}

.franchise-button:hover {
  background-color: #dfb0aa;
  cursor: pointer;
}

.franchise-header {
  font-family: "Raleway-ExtraBold";
  font-weight: 800;
  font-size: 3.3rem;
  color: #15364c;
}

/* ---------------------------------story--------------------------------------------- */

.story-container {
  background-color: #f9f6f4;
  align-items: center;
  margin-top: 5rem;
  padding: 2rem;
}

.story-headerline-container {
  display: flex;
  justify-content: center;
}

.story-div {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.story-div > div > p {
  text-align: left;
}

.story-img {
  width: 20rem;
  height: 17rem;
  padding-left: 4rem;
}

.story-footer {
  font-family: "Palmer-Lake";
  font-weight: 400;
  font-size: 1.6rem;
  color: #2f6079;
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
}

/* --------------------------------how it works --------------------------------------*/
.how-container {
  margin-top: 3rem;
  padding: 2rem;
}

.how-headerline-container {
  display: flex;
  justify-content: center;
}
.how-div {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.how-div-section {
  padding: 2rem 2rem 0 2rem;
  text-align: center;
}
.how-img1 {
  width: 7rem;
  height: 8rem;
}
.how-img2 {
  width: 11rem;
  height: 9rem;
}
.how-img3 {
  width: 5rem;
  height: 8rem;
}
.how-header {
  font-family: "Raleway-Bold";
  font-weight: 800;
  font-size: 1.7rem;
  color: #13364d;
}

.how-button {
  background-color: #e8d0cd;
  width: 20rem;
  height: 3rem;
  border-radius: 10px;
  border-style: hidden;
}

.how-button:hover {
  background-color: #dfb0aa;
  cursor: pointer;
}

/* ----------------operate -----------------------------*/
.operate-container {
  background-color: #f9f6f4;
  margin-top: 5rem;
  padding: 3rem;
}

.operate-headerline-container {
  display: flex;
  justify-content: center;
}

.operate-para {
  text-align: center;
}
.operate-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #f9f6f4;
  justify-content: center;
}

.operate-grid-container > div {
  background-color: #f9f6f4;
  display: flex;
  align-items: flex-start;
}

.operate-grid-container > div > p {
  margin: 0 !important;
  padding-bottom: 1rem;
}

.operate-grid-container > div > img {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0 0.5rem;
}

/*----------------------------------- design ------------------------------*/

.design-container {
  margin-top: 5rem;
}
.design-headerline-container {
  display: flex;
  justify-content: center;
}
.design-div {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

/* -------------------------------training ------------------------------*/

.training {
  background-color: #f9f6f4;
  margin-top: 5rem;
  padding: 3rem;
}

.training-headerline-container {
  display: flex;
  justify-content: center;
}

.training-upper {
  display: flex;
  justify-content: center;
}

.training-list {
  display: flex;
  justify-content: center;
}

.training-list li {
  color: #9fc4d4;
}

.training-list li span {
  font-family: "Sofia-Regular";
  color: #2f6079;
  font-weight: 400;
  font-size: 1rem;
}
/* ---------------------------------sign up------------------------------------------ */
.sign-up-container {
  margin-top: 4rem;
}

.sign-up-headerline-container {
  display: flex;
  justify-content: center;
}

.sign-up-form-container {
  display: flex;
  justify-content: center;
}
.sign-up-paras {
  display: flex;
  justify-content: center;
}
.sign-up-label {
  font-family: "Sofia-Regular";
  color: #2f6079;
  font-weight: 400;
  font-size: 1rem;
}

.sign-up-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.sign-up-form > input {
  border-style: none;
  border-radius: 5px;
}

.sign-up-form-div {
  padding: 20px;
}
.sign-up-button-container {
  display: flex;
  justify-content: center;
}
.sign-up-button {
  background-color: #e8d0cd;
  width: 23rem;
  height: 2.5rem;
  border-style: none;
  border-radius: 10px;
}

.sign-up-button:hover {
  background-color: #dfb0aa;
  cursor: pointer;
}

/* ---------------------footer ----------------------*/

.footer {
  background-color: #15364c;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10rem;
  padding: 1.5rem;
}

.footer-img {
  display: flex;
  padding-top: 0.5rem;
}

.footer-img > img {
  width: 1.3rem;
  height: 1.3rem;
  padding: 2.5rem 0.6rem 0;
}

.footer-list {
  display: flex;
}

.footer ul {
  list-style: none;
}

.footer li {
  font-family: "BrandonGrotesque-Regular";
  font-weight: 400;
  font-size: 1rem;
  color: #ffffff;
  padding: 0.5rem;
}
